/* Default styles */
.testimonial .swiper {
    max-width: 1100px;
    height: 400px;
    margin: 0px;
}

.testimonial .swiper-slide {
    width: fit-content;
    flex-shrink: 0;
    display: block;
    margin-right: 0px;
}

.swiper-custom-pagination .swiper-pagination-bullet {
    display: flex;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .testimonial .swiper {
        max-width: 1000px;
        height: 650px;
    }
}

@media only screen and (max-width: 1000px) {
    .testimonial .swiper {
        max-width: 650px;
        height: 650px;
    }
}

@media only screen and (max-width: 800px) {
    .testimonial .swiper {
        max-width: 500px;
        height: 650px;
    }
}

@media only screen and (max-width: 600px) {
    .testimonial .swiper {
        max-width: 350px;
        height: 650px;
    }
}